body{
text-align:center; 
background-color:#D1C4E9;
}
#firstp{
font-size:30px;
font-variant:normal;
word-spacing:2px  
}
#image1{
width:850px;
height:550px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;  
}
#secondp{
font-size:25px; 
font-variant-caps: small-caps;

}
#3p{
  font-size:20px;
font-variant:normal;
word-spacing:2px 
}
#big{
  font-size:20px;
font-variant:normal;
word-spacing:2px
}
#image7{
  width:259px;
height:299px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;  

}
#member1{
 idth:259px;
height:299px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0; 
}
#rm {
  font-size:25px;
font-variant:normal;
word-spacing:2px
}
#jungkook {
   font-size:25px;
font-variant:normal;
word-spacing:2px;
}
#namerm {
text-color:#FFFF00;
  background-color:#FFFF00;
}
#realnamejk{
background-color:#FFFF00;
}
#v {
 width:251px;
height:295px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;
}
#vp {
  background-color:#FFFF00;
}
#vp2 {
  font-size:25px;
font-variant:normal;
word-spacing:2px;
}
#jimin {
  width:251px;
height:295px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;
}
#jiminp {
background-color:#FFFF00;  
}
#jiminp2 {
 font-size:25px;
font-variant:normal;
word-spacing:2px; 
}
#suga {
width:450px;
height:295px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;  
}
#sugap {
 background-color:#FFFF00;  
}
#sugap2 {
 font-size:25px;
font-variant:normal;
word-spacing:2px; 
}
#jin {
 width:400px;
height:295px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0; 
}
#jinp {
background-color:#FFFF00;
}
#jinp2 {
 font-size:25px;
font-variant:normal;
word-spacing:2px; 
}
#jhope {
  width:400px;
height:300;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0; 
}
#jhopep {
 background-color:#FFFF00;
 
}
#jhope2 {
 font-size:25px;
font-variant:normal;
word-spacing:2px;  
}
#BTS {
  font-size:100px;
  background-color:#FFFF00;
}
#BTS234 {
  font-size: 100px;
  background-color:#FFFF00;
}
#grppic {
   width:800px;
height:500px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;
}
#info {
  font-size:20px;
  text-align:centre;
}
#shadow {
 background-color:#FFFF00;  
}
#abcd {
  text:bold;
}
#s {
  font-size:25px;
  background-color:#F44336;
}
#s1 {
  background-color:#FFFF00;
}
#s2 {
  background-color:#FFFF00;
}
#map {
 width:900px;
height:500px;
border-style:solid;  
padding:3px; 
border-color:##F8BBD0;  
}
#q {
  font-size:25px;
   text-align:centre;
   background-color:#FFFF00;
}
#a {
  font-size:25px;
  text-align:left;
   background-color:#FFFF00;
}
#bt {
 font-size:25px; 
}
#1 {
  font-size:25px;
 
}
#2 {
  font-size:25px;
}
#3 {
  font-size:25px;
}
#2c4s {
  font-color:#FF1744;
  background-color:#FF1744;
}
#he {
  font-size:30px;
}